{# Plantilla de nuestra aplicación #}
{% extends 'base.html.twig' %}
{#  TITULO #}
{% block title %}
INICIO
{% endblock %}
{#  CONTENIDO #}
{% block contenidoDF %}

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url({{asset('images/slider01.jpg')}})">
                <div class="carousel-caption d-none d-md-block">
                <h3>Santorini</h3>
                <p>Lugar hermoso para visitar.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url({{asset('images/slider02.jpg')}})">
                <div class="carousel-caption d-none d-md-block">
                <h3>Grecia</h3>
                <p>Atenas un lugar de historia.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url({{asset('images/slider03.jpg')}})">
                <div class="carousel-caption d-none d-md-block">
                <h3>Baracelona</h3>
                <p>Arquitectura en grande.</p>
                </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- CONTAINER -->
    <div class="container">
        <!-- Portfolio Section -->
        <h1 class="my-4">Lugares recomendados</h1>
        
        <div class="row">
            {% for item in lugares %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('lugar', {id: item.id})}}"><img class="card-img-top" src={% if item.foto|length > 0 %}"{{asset(lugarimg~item.foto)}}"{% else %}"http://placehold.it/700x400"{% endif %} alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                            <a href="{{ path('lugar', {id: item.id})}}">{{ item.nombre }}</a>
                            </h4>
                            <p class="card-text">{{ item.descripcion }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}    
            
        </div>
        <!-- /.row -->
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
